{{- /* The fonts are in static/, outside esbuild's reach; externals keeps their URLs as written. */}}
{{- with resources.Get "css/main.css" }}
  {{- $opts := dict
    "minify" true
    "targetPath" "css/main.css"
    "target" (slice "chrome120" "edge120" "firefox117" "safari17.2" "ios17.2")
    "externals" (slice "/fonts/*")
  }}
  {{- with . | css.Build $opts | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
  {{- end }}
{{- end }}
