{{- /* Observable Plot chart rendered from an ES module in the page bundle.
     Usage:
       {{< plot name="costPerRun" caption="Some *markdown* caption" >}}
       {{< plot name="costPerRun" src="charts.js" >}}   -> custom module (default: plots.js)
     The module must `export default { costPerRun: ({Plot, width}) => Plot.plot({...}) }`.
     Charts re-render when their container width changes. */ -}}
{{- $src := .Get "src" | default "plots.js" -}}
{{- $module := .Page.Resources.Get $src -}}
{{- if not $module -}}
  {{- errorf "plot shortcode: %q not found in page bundle of %s" $src .Page.File.Path -}}
{{- end -}}
{{- $name := .Get "name" -}}
{{- $caption := .Get "caption" -}}
<figure class="plot-figure">
  <div class="plot-container" role="img" aria-label="{{ $caption | markdownify | plainify }}" data-plot-module="{{ $module.RelPermalink }}" data-plot-name="{{ $name }}"></div>
  {{- with $caption }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end }}
  <noscript>This chart needs JavaScript.</noscript>
</figure>
{{ partial "script.html" "js/plot.js" }}
