{{- $url := .Permalink | urlquery }}
{{- $title := .Title | urlquery }}
<div class="share">
  <span class="label">Share</span>
  <a href="{{ printf "https://twitter.com/intent/tweet?url=%s&text=%s" $url $title | safeURL }}" aria-label="Share on X">{{ partial "icon.html" (dict "name" "x-twitter") }}</a>
  <a href="{{ printf "https://www.linkedin.com/sharing/share-offsite/?url=%s" $url | safeURL }}" aria-label="Share on LinkedIn">{{ partial "icon.html" (dict "name" "linkedin") }}</a>
  <a href="{{ printf "https://mastodonshare.com/?url=%s&text=%s" $url $title | safeURL }}" aria-label="Share on Mastodon">{{ partial "icon.html" (dict "name" "mastodon") }}</a>
  <a href="{{ printf "mailto:?subject=%s&body=%s" (replace $title "+" "%20") $url | safeURL }}" aria-label="Share by email">{{ partial "icon.html" (dict "name" "envelope") }}</a>
  <button type="button" data-copy="{{ .Permalink }}" aria-label="Copy link" hidden>{{ partial "ui-icon.html" "link-simple" }}</button>
</div>
